<div class="jumbotron text-center">
  <h2>What is a <code>Promise</code>?</h2>
</div>

<div class="notes">
  <ul>
    <li>Promises lifecycle</li>
    <li>Promises in components (using isDestroyed)</li>
    <li>PromiseProxyMixin</li>
    <li>PromiseProxyMixin in components (using Ember.Object)</li>
  </ul>
</div>
