@import 'slot-machine.css';
@import 'slot-spinner.css';
@import 'slot-handle.css';
@import 'slot-winner.css';

body {
  min-width: 670px;
}

.easter-egg .secret {
  position: relative;
  top: -60px;
  right: 60px;
}

.easter-egg.revealed {
  background-image: url('http://imgs.xkcd.com/comics/random_number.png');
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 6px;
  width: 100%;
}
