<div class="container">
  {{#easter-egg}}
  <div class="jumbotron">
    <h1>Keeping Promises in EmberJS</h1>
    <p>An example demo on how make EmberJS fun… <em>promise</em></p>
  </div>
  {{/easter-egg}}

  <p>
    Consectetur ipsam laudantium natus quam tempore, voluptatibus fugit. Ratione doloremque et quos odit commodi recusandae, hic culpa iste, saepe doloribus ratione laborum non. Minus libero consequuntur dignissimos eum et aliquam.
  </p>
  
</div>
